{% extends "base_usuario.html" %}

{% block body %}
	
	<form action="{% url 'login' %}" class="form-signin" role="form" method="post">
		{% csrf_token %}
		<h2 class="form-signin-heading">Login</h2>

		<input type="text" class="form-control" id="id_username" name="username" placeholder="Nome" required autofocus>

		<input type="password" class="form-control" id="id_password" name="password" placeholder="Senha" required>

		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Login</button>

		<input type="hidden" name="next" value="{{ next }}">

		{% if form.erros %}
			<div class="alert alert-danger">
				<button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
				Por favor, verifique o Email e/ou Senha informados
			</div>
		{% endif %}

		<a href="{% url 'registrar' %}">registre-se</a>
	</form>

{% endblock %}